<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipes</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/scripts.js"></script>
</head>
<body>


<h1>Recipes</h1>
<a href="/recipes">Back to Recipes</a>
<a href="/addrecipe">Add recipe</a>
<hr>

<h2>Find recipes by:</h2>

<form action="/recipes" method="post">
    <label for="category">Category</label>
    <select name="category" id="category">
        <option value="Chicken">Chicken</option>
        <option value="Beef">Beef</option>
        <option value="Pork">Pork</option>
        <option value="Other meat dishes">Other meat dishes</option>
        <option value="Vegetables">Vegetables</option>
        <option value="Soups">Soups</option>
        <option value="Side dishes">Side dishes</option>
        <option value="Desserts">Desserts</option>
        <option value="Savoury">Savoury</option>
    </select>
    <button type="submit">Submit</button>
</form>
<br><br>

<table class='finances'>
    <thead>
    <tr>
        <th>ID</th>
        <th>CATEGORY</th>
        <th>NAME</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="recipe: ${recipes}">
        <td th:text="${recipe.id}"/>
        <td th:text="${recipe.category.label}"/>
        <td><a th:href="@{'/recipe/' + ${recipe.name}}" th:text="${recipe.name}"></a></td>

        <td>
            <button th:attr="data-id=${recipe.id}" data-handler="deleterecipe" class="delete-button">Delete</button>
        </td>
        <td><a th:href="@{'/editrecipe/' + ${recipe.name}}">Edit</a></td>

    </tr>
    </tbody>
</table>
<br>

</body>
</html>