<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Recipe</title>
</head>
<body>

<div layout:fragment="content">
    <h1 th:text="${recipe.name}"></h1>
    <a href="/recipes">Back to Recipes</a>
    <a href="/addrecipe">Add recipe</a>
    <a th:href="@{'/editrecipe/' + ${recipe.name}}">Edit this recipe</a>
    <hr>

    <div>
        <h3>Category</h3>
        <p ><i th:text="${recipe.category.label}"></i></p>
    </div>

    <div>
        <h2>Ingredients</h2>
        <p th:if="${recipe.ingredients == ''}">There are no ingredients for this recipe.</p>
        <p th:text="${recipe.ingredients}"></p>
    </div>

    <div>
        <h2>Instructions</h2>
        <p th:if="${recipe.instructions == ''}">There are no instructions for this recipe.</p>
        <p th:text="${recipe.instructions}"></p>
        <br>
    </div>

    <div th:unless="${image == null}">
        <img th:src="@{'data:image/png;base64,'+${image}}" width="500">
        <br>
    </div>
</div>
</body>
</html>