<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Recipe</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>


    <h1 th:text="${recipe.name}"></h1>
    <a href="/recipes">Back to Recipes</a>
    <a href="/addrecipe">Add recipe</a>
    <a th:href="@{'/editrecipe/' + ${recipe.name}}">Edit this recipe</a>
    <hr>

    <div>
        <h3>Category</h3>
        <p ><i th:text="${recipe.category.label}"></i></p>
    </div>

    <div>
        <h2>Ingredients</h2>
        <p th:if="${recipe.ingredients == ''}">There are no ingredients for this recipe.</p>
        <p th:text="${recipe.ingredients}"></p>
    </div>

    <div>
        <h2>Instructions</h2>
        <p th:if="${recipe.instructions == ''}">There are no instructions for this recipe.</p>
        <p th:text="${recipe.instructions}"></p>
        <br>
    </div>

    <div th:unless="${image == null}">
        <img th:src="@{'data:image/png;base64,'+${image}}" width="500">
        <br>
    </div>

</body>
</html>