<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Shopping List</title>
</head>
<body>
<div layout:fragment="content">

<h1>Shopping List</h1>
<a href="/additem">Add item</a>
<hr>
<table class='shoppingList'>
    <thead>
    <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>QUANTITY</th>
        <th>SCALE</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item: ${items}">
        <td th:text="${item.id}"/>
        <td th:text="${item.name}"/>
        <td th:text="${item.quantity}"/>
        <td th:text="${item.scale}"/>

        <td>
            <button th:attr="data-id=${item.id}" data-handler="deleteitem" class="delete-button">Delete</button>
        </td>
        <td><a th:href="@{'/edititem/' + ${item.id}}">Edit</a></td>


    </tr>
    </tbody>
</table>
<br>
</div>
</body>
</html>