<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Statistics</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/scriptstatistics.js"></script>
</head>
<body>


<h1>Finances</h1>
<a href="/finances">Back to Finances</a>
<a href="/addfinance">Add finance</a>
<hr>

<h2>Get statistics for:</h2>

<form action="/statistics" method="post">
    <label for="year">Year</label>
    <input id="year" type="number" name="year" step="1">

    <label for="month">Month</label>
    <input id="month" type="number" name="month" step="1" min="1" max="12">

    <button type="submit" id="statisticsSubmit">Submit</button>
</form>
<br><br>



<div class="statistics" th:if="${statisticsModel}">

    <h2 th:text="${statisticsModel.dateString}"></h2>

    <table>
        <thead>
            <tr>
                <th>Total Receipts</th>
                <th>Total Expenditures</th>
                <th>Total</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td id="receipts" name="receipts" th:text="${statisticsModel.receipts}"></td>
                <td id="expenditures" name="expenditures" th:text="${statisticsModel.expenditures}"></td>
                <td id="total" name="total" th:text="${statisticsModel.total}"></td>
            </tr>

        </tbody>
    </table>
    <br>
    <br>
    <table>
        <thead>
        <tr>
            <th>Category</th>
            <th>Total Receipts/Expenditures</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="instance : ${categoryMap}">
            <td id="category" name="category" th:text="${instance.key.label}"></td>
            <td id="costs" name="costs" class="costs" th:text="${instance.value}"></td>
        </tr>
        </tbody>
    </table>


</div>

<div th:unless="${statisticsModel}">
    <p id="select" name="select">Select Year and Month.</p>
</div>





<br>

</body>
</html>